<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>HackDFW</title>
    {% block head %}
    {% endblock %}
    
</head>
<body>
    {% block body %}
    <!--<form id="hashtag_form" action="/hashtag" method="post">-->
    <form id="hashtag_form">
        Enter Hashtag:
        <input id="hashtag_input" type="text" name="hashtag">
        <input type="submit" value="Submit">
    </form>

    <div id="tweets">

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    {% endblock %}
    
</body>
</html>
