<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Worldview</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				background:#fff;
				padding:0;
				margin:0;
				font-weight: bold;
				overflow:hidden;
			}

            .add-on {
                border-left-width:0;left:-2px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            }

            /* stop the glowing blue shadow */
            .add-on .form-control:focus {
             box-shadow:none;
             -webkit-box-shadow:none;
             border-color:#cccccc;
            }

            .navbar-form {
                text-align: center;
                z-index: 1;
            }

            .input-group {
                width: 90%;
            }

            div.transparent {
                opacity: 0.45;
            }

            div.transparent:hover {
                opacity: 1.0;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

				<script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

				<script src="static/js/three.min.js"></script>
				<script src="static/js/Projector.js"></script>
				<script src="static/js/CanvasRenderer.js"></script>
				<script src="static/js/stats2.min.js"></script>
		        <script src="static/js/FlyControls3.js"></script>
	</head>
	<body>
    <div class="container-fluid">
    <div class="row">
    <div class="col-xl-8">
    <div class="transparent">
      <form id="searchBar" class="navbar-form" role="search">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Get a glimpse into the world..." name="srch-term" id="srch-term" type="text">
        	<script type="text/javascript">
					$('#srch-term').click(function(){
						$('#srch-term').prop('disabled', true\false);
					});
        	</script>
				</div>
      </form>
        </div>
    </div>
    </div>
    </div>
    <div id="refresh">

    </div>
		<script>

			var container, stats;
			var camera, scene, renderer;
			var geometry, group;
            var color;
            var raycaster;
            var mouse;
            var controls;
            var mesh2;
            var clock = new THREE.Clock();
            var radius = 2000;
			//var mouseX = 0, mouseY = 0;
			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;
            var red_sides = [
                new THREE.MeshBasicMaterial({color: 0xff4444, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xff3f3f, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xff3a3a, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xf23a3a, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xed3b3b, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xea4b4b, side: THREE.DoubleSide, overdraw: 0.5}),
            ];
            var green_sides = [
                new THREE.MeshBasicMaterial({color: 0x2ded3d, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x2de23c, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x32e541, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x2fef3f, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x2ee83d, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x30e53f, side: THREE.DoubleSide, overdraw: 0.5}),
            ]
            var blue_sides = [
                new THREE.MeshBasicMaterial({color: 0x193dc1, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x163bbf, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x163abc, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x163bbf, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x1a3ebf, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0x183cbf, side: THREE.DoubleSide, overdraw: 0.5}),
            ];
            var white_sides = [
                new THREE.MeshBasicMaterial({color: 0xffffff, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xf4f4f4, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xeff1f4, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xf4f5f7, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xf7f7f7, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xf9f9f9, side: THREE.DoubleSide, overdraw: 0.5}),
            ];
            var moon_sides = [
                new THREE.MeshBasicMaterial({color: 0xb5b5b3, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xb2b2b0, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xb5b5b1, side: THREE.DoubleSide, overdraw: 0.5}),
                new THREE.MeshBasicMaterial({color: 0xadada8, side: THREE.DoubleSide, overdraw: 0.5})
            ];
			//document.addEventListener( 'mousemove', onDocumentMouseMove, false );
			init();
			animate();
			function init(tweets=null, numPos=null, numNeg=null, numNeut=null) {
                alert('in init');
                $('#refresh').empty();
                //document.getElementById('searchBar').blur();
				//container = document.createElement( 'div' );
                container = document.getElementById('refresh');
				//document.body.appendChild( container );
                //container.empty();
				camera = new THREE.PerspectiveCamera( 50, window.innerWidth / window.innerHeight, 1, 20000 );
				camera.position.z = 500;

                raycaster = new THREE.Raycaster();
                mouse = new THREE.Vector2();


                controls = new THREE.FlyControls(camera);
                controls.domElement = container;
                /*console.log(camera.position.x);
                console.log(camera.position.y);
                console.log(camera.position.z);*/


                controls.movementSpeed = 4000;
                controls.rollSpeed = Math.PI / 10;
				controls.autoForward = false;
				controls.dragToLook = true;



                scene = new THREE.Scene();
				geometry = new THREE.BoxGeometry( 80, 80, 80 );
                //var material = new THREE.MeshBasicMaterial({color: gray_sides, overdraw: 0.5});
				group = new THREE.Group();

                var temp = new THREE.Mesh(geometry, material);
                var total;
                if (tweets == null) {
                    total = 700;
                }
                else {
                    total = numPos + numNeg + numNeut;

                    var posScore = tweets['pos_polarity'];
                    var negScore = tweets['neg_polarity'];
                    
                    // ratio
                    var pos = posScore / (posScore + Math.abs(negScore));
                    
                    colors = []

                    // first, count the postive ones,
                    for (var i = 0; i < total * pos; i++ ) {
                        colors.push(green_sides);
                    }

                    // the rest should be negative ones
                    for (var i = 0; i < total - total * pos; i++) {
                        colors.push(blue_sides);
                    }

                    // shuffle the list of colors, so that they can be assigned
                    // randomly while keeping the ratio.
                    function shuffle(a) {
                        for (let i = a.length; i; i--) {
                            let j = Math.floor(Math.random() * i);
                            [a[i - 1], a[j]] = [a[j], a[i - 1]];
                        }
                    }
                    shuffle(colors);
                }

				for (var i = 0; i < total; i ++) {
                    if (tweets == null)  {
                        var rand = Math.round(Math.random()*500 - 1);
                        if(rand < 200)
                            color = green_sides;
                        else
                            color = blue_sides;
                    }
                    else { 
					    color = colors[i];
					}

                    var material = THREE.MeshFaceMaterial(color);
                    var mesh = new THREE.Mesh( geometry, material );
                    /*mesh.position.x = Math.random() * 2000 - 1000;
                    mesh.position.y = Math.random() * 2000 - 1000;
                    mesh.position.z = Math.random() * 2000 - 1000;*/
                    var u = Math.random();
                    var v = Math.random();

                    var theta = 2 * Math.PI * u;
                    var phi = Math.acos(2 * v - 1);

                    mesh.position.x = radius * Math.sin(phi) * Math.cos(theta);
                    mesh.position.y = radius * Math.sin(phi) * Math.sin(theta);
                    mesh.position.z = radius * Math.cos(phi);
                    mesh.rotation.x = Math.random() * 2 * Math.PI;
                    mesh.rotation.y = Math.random() * 2 * Math.PI;
                    mesh.matrixAutoUpdate = false;
                    mesh.updateMatrix();
                    //THREE.merge(temp,mesh);
                    group.add(mesh);
                }
                    
                moon = new THREE.BoxGeometry(350,350,350);
                group2 = new THREE.Group();
                for(var g = -2; g < 3; g++){
                    mesh2 = new THREE.Mesh(moon, moon_sides);
                    mesh2.position.x = 2400;
                    mesh2.position.y = 2400;
                    mesh2.position.z = 1400;
                    mesh2.rotation.x = g * 2;
                    mesh2.matrixAutoUpdate = false;
                    mesh2.updateMatrix();
                    group2.add(mesh2);
                }
                for(g = -2; g < 3; g++){
                    mesh2 = new THREE.Mesh(moon, moon_sides);
                    mesh2.position.x = 2400;
                    mesh2.position.y = 2400;
                    mesh2.position.z = 1400;
                    mesh2.rotation.y = g * 2;
                    mesh2.matrixAutoUpdate = false;
                    mesh2.updateMatrix();
                    group2.add(mesh2);
                }
                group.add(group2);



                    //****************************************************

                // create the particle variables
                var particleCount = 2500,
                    particles = new THREE.Geometry(),
                    pMaterial = new THREE.ParticleBasicMaterial({
                      color: 0xffffba,
                      size: 20
                    });

                // now create the individual particles
                for (var p = 0; p < particleCount; p++) {

                  // create a particle with random
                  // position values, -250 -> 250
                  var pX = Math.random() * 16000 - 8000,
                      pY = Math.random() * 16000 - 8000,
                      pZ = Math.random() * 16000 - 8000,
                      particle = new THREE.Vector3(pX, pY, pZ);

                  // add it to the geometry
                  particles.vertices.push(particle);
                }
                // create the particle system
                var particleSystem = new THREE.ParticleSystem(
                    particles,
                    pMaterial);

                // add it to the scene
                scene.add(particleSystem);
                //*****************************************************//

				scene.add(group);
                scene.add(group2);
				renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
				renderer.setClearColor( 0x2b2b2b );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight - document.getElementById('searchBar').offsetHeight);
				//renderer.setSize( window.innerWidth, window.innerHeight)
				container.appendChild( renderer.domElement );

                renderer.gammaInput = true;
                renderer.gammaOutput = true;

				stats = new Stats();
				container.appendChild( stats.dom );
				//
				window.addEventListener( 'resize', onWindowResize, false );
			}
			function onWindowResize() {
				windowHalfX = window.innerWidth / 2;
				//windowHalfY = window.innerHeight / 2;
				windowHalfY = (window.innerHeight - document.getElementById('searchBar').offsetHeight) / 2;
				//camera.aspect = window.innerWidth / window.innerHeight;
				camera.aspect = window.innerWidth / (window.innerHeight - document.getElementById('searchBar').offsetHeight);
				camera.updateProjectionMatrix();
				//renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.setSize( window.innerWidth, (window.innerHeight - document.getElementById('searchBar').offsetHeight));
			}
			//function onDocumentMouseMove(event) {
			//	mouseX = ( event.clientX - windowHalfX ) * 10;
			//	mouseY = ( event.clientY - windowHalfY ) * 10;
			//}
			//
			function animate() {

				requestAnimationFrame( animate );
				render();
				stats.update();
			}

            //************************************************************************
            // animation loop
            function update() {

              // add some rotation to the system
              //particleSystem.rotation.y += 0.01;


              // draw
              renderer.render(scene, camera);

              // set up the next call
              //requestAnimFrame(update);
            }
            //*************************************************************************//

			function render() {
                if(camera.position.x < 7000 && camera.position.y < 7000 && camera.position.z > 7500)
                    camera.position.z = 7500;
                else if(camera.position.x < 7000 && camera.position.y > 7000 && camera.position.z < 7500)
                    camera.position.y = 7000;
                else if(camera.position.x < 7000 && camera.position.y > 7000 && camera.position.z > 7500){
                    camera.position.y = 7000;
                    camera.position.z = 7500;
                }
                else if(camera.position.x > 7000 && camera.position.y < 7000 && camera.position.z < 7500)
                    camera.position.x = 7000;
                else if(camera.position.x > 7000 && camera.position.y < 7000 && camera.position.z > 7500){
                    camera.position.x = 7000;
                    camera.position.z = 7500;
                }
                else if(camera.position.x > 7000 && camera.position.y > 7000 && camera.position.z < 7500){
                    camera.position.x = 7000;
                    camera.position.y = 7000;
                }
                else if(camera.position.x > 7000 && camera.position.y > 7000 && camera.position.z > 7500){
                    camera.position.x = 7000;
                    camera.position.y = 7000;
                    camera.position.z = 7500;
                }

                if(camera.position.x > -7000 && camera.position.y > -7000 && camera.position.z < -7500)
                    camera.position.z = -7500;
                else if(camera.position.x > -7000 && camera.position.y < -7000 && camera.position.z > -7500)
                    camera.position.y = -7000;
                else if(camera.position.x > -7000 && camera.position.y < -7000 && camera.position.z < -7500){
                    camera.position.y = -7000;
                    camera.position.z = -7500;
                }
                else if(camera.position.x < -7000 && camera.position.y > -7000 && camera.position.z > -7500)
                    camera.position.x = -7000;
                else if(camera.position.x < -7000 && camera.position.y > -7000 && camera.position.z < -7500){
                    camera.position.x = -7000;
                    camera.position.z = -7500;
                }
                else if(camera.position.x < -7000 && camera.position.y < -7000 && camera.position.z > -7500){
                    camera.position.x = -7000;
                    camera.position.y = -7000;
                }
                else if(camera.position.x < -7000 && camera.position.y < -7000 && camera.position.z < -7500){
                    camera.position.x = -7000;
                    camera.position.y = -7000;
                    camera.position.z = -7500;
                }


                var delta = clock.getDelta();
                controls.update(delta);
				//camera.position.x += ( mouseX - camera.position.x ) * .05;
				//camera.position.y += ( - mouseY - camera.position.y ) * .05;
				//camera.lookAt( scene.position );
				var currentSeconds = Date.now();
				group.rotation.x += 0.00025;
				group.rotation.y += 0.0025;
                
                group2.rotation.y -= 0.0015;
                //group2.rotation.y -= 0.002;
				//group.rotation.z = Math.sin( currentSeconds * 0.0002 ) * 0.5;
				renderer.render( scene, camera );
			}
		</script>
        <script type="text/javascript" src="/static/js/app.js"></script>
	</body>
</html>
